<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saharat Portfolio</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/aboutme.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<br>
<br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/profile">Home</a>
                <a class="nav-link" href="/profile/aboutme">About me</a>
                <a class="nav-link" href="/profile/education">Education</a>
                <a class="nav-link" href="/profile/workexperience">Workexperience</a>
                <a class="nav-link" href="/profile/contract">Contract</a>
            </div>
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>

</body>
</html>